[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "monoClust"]
	path = monoClust
	url = https://github.com/vinhtantran/monoclust
[submodule "puls"]
	path = puls
	url = https://github.com/vinhtantran/puls
